USE [CinemaDataWarehouse]
GO
/****** Object:  Table [dbo].[Dim_Cinema]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Cinema](
	[CinemaKey] [int] IDENTITY(1,1) NOT NULL,
	[CinemaSourceId] [int] NOT NULL,
	[CinemaName] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CinemaKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Customer]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Customer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerSourceId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[City] [nvarchar](100) NULL,
	[MembershipTier] [nvarchar](50) NULL,
	[AgeGroup] [nvarchar](20) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[DayName] [nvarchar](20) NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[MonthName] [nvarchar](20) NOT NULL,
	[Quarter] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[IsWeekend] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Movie]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Movie](
	[MovieKey] [int] IDENTITY(1,1) NOT NULL,
	[MovieSourceId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[GenreName] [nvarchar](100) NULL,
	[Director] [nvarchar](150) NULL,
	[Rating] [nvarchar](10) NULL,
	[Country] [nvarchar](100) NULL,
	[ReleaseYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Showtime]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Showtime](
	[ShowtimeKey] [int] IDENTITY(1,1) NOT NULL,
	[ShowtimeSourceId] [int] NOT NULL,
	[TimeOfDay] [nvarchar](50) NULL,
	[ScreenType] [nvarchar](50) NULL,
	[IsWeekend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowtimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Booking]    Script Date: 11/17/2025 4:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Booking](
	[DateKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[MovieKey] [int] NOT NULL,
	[CinemaKey] [int] NOT NULL,
	[ShowtimeKey] [int] NOT NULL,
	[TotalTickets] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Fact_Booking] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC,
	[CustomerKey] ASC,
	[MovieKey] ASC,
	[CinemaKey] ASC,
	[ShowtimeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Booking_Dim_Cinema] FOREIGN KEY([CinemaKey])
REFERENCES [dbo].[Dim_Cinema] ([CinemaKey])
GO
ALTER TABLE [dbo].[Fact_Booking] CHECK CONSTRAINT [FK_Fact_Booking_Dim_Cinema]
GO
ALTER TABLE [dbo].[Fact_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Booking_Dim_Customer] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[Dim_Customer] ([CustomerKey])
GO
ALTER TABLE [dbo].[Fact_Booking] CHECK CONSTRAINT [FK_Fact_Booking_Dim_Customer]
GO
ALTER TABLE [dbo].[Fact_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Booking_Dim_Date] FOREIGN KEY([DateKey])
REFERENCES [dbo].[Dim_Date] ([DateKey])
GO
ALTER TABLE [dbo].[Fact_Booking] CHECK CONSTRAINT [FK_Fact_Booking_Dim_Date]
GO
ALTER TABLE [dbo].[Fact_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Booking_Dim_Movie] FOREIGN KEY([MovieKey])
REFERENCES [dbo].[Dim_Movie] ([MovieKey])
GO
ALTER TABLE [dbo].[Fact_Booking] CHECK CONSTRAINT [FK_Fact_Booking_Dim_Movie]
GO
ALTER TABLE [dbo].[Fact_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Booking_Dim_Showtime] FOREIGN KEY([ShowtimeKey])
REFERENCES [dbo].[Dim_Showtime] ([ShowtimeKey])
GO
ALTER TABLE [dbo].[Fact_Booking] CHECK CONSTRAINT [FK_Fact_Booking_Dim_Showtime]
GO
